body {
	padding-top: 54px;
	color: red;
	/* why did I do this */
  }
  
  @media (min-width: 992px) {
	body {
	  padding-top: 56px;
	}
  }
  
  @media (max-width: 420px) {
	.navbar-brand {
	  font-size: 12pt;
	}
  }
  